{
    "project": {
        "type": "viewX",
        "name": "{{ projectName }}",
        "version": "0.1",
        "root": "."
    },
    "viewXModels": {
        "root": ".",
        "filterMappings": [
            {
                "modelName": "course_overview.vx",
                "filter": "*.univ"
            }
        ]
    }
}