{
    "project": {
        "type": "viewX",
        "name": "{{ projectName }}",
        "version": "0.1",
        "root": ".",
        "socketPort": 3002
    },
    "viewXModels": {
        "root": ".",
        "patternMappings": [
            {
                "modelName": "course_overview.vx",
                "pattern": "*.univ"
            }
        ]
    }
}